body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #5a1bac, #190431); /* colores personalizados */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff; /* texto claro para contrastar */
}
.home-container {
  color: white;
  text-align: center;
  margin-top: 25vh;
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.home-buttons {
  margin-top: 2rem;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #46e5e5;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #4338ca;
}
